# Generated manually in lieu of roxygen2::roxygenise()
export(boxplot)
export(col)
export(density)
export(gglite)
export(histogram)
export(jitter)
export(line)
export(point)
export(qq)
export(qq_line)
export(smooth)
export(step)
export(violin)
import(ggplot2)
importFrom(stats,setNames)
importFrom(tidyr,pivot_longer)
